body {
    color: #f1356d;
    background: black;
    width: 300px;
    height: 300px;
}

#list {
    list-style: none;
}


input[type="textarea"] {
    height: 150px;
    width: 250px;
}

.popup-btn {
    background-color: #f1356d;
    color: white;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}

.popup-btn:hover {
    background-color: #e4dee0;
    color: rgb(0, 0, 0);
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}